{% extends "base.jinja2" %}

{% block title %}Микрокорпус: о проекте{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>О проекте</h1>

            Суть проекта - web-интерфейс для создания
            небольшого корпуса текстов с полностью снятой
            морфологической неоднозначностью на основе случайной выборки
            из <a href="http://opencorpora.org">OpenCorpora</a>.

            В OpenCorpora уже доступен для скачивания подкорпус со
            снятой омонимией, но из-за того, как организован
            процесс разметки, этот подкорпус не является
            репрезентативным.

            <h3>Схема работы</h3>
            Предложения хранятся в текстовых файлах,
            одно предложение - один файл. В файле в каждой строке
            сначала идет токен, потом пробел, а потом все возможные
            варианты разбора, разделенные символом "/":

            <blockquote>нет             PRCL / INTJ</blockquote>

            <p>Снятие неоднозначности - это удаление некоторых вариантов
            разбора из строки.</p>

            <p>
                Предложения хранятся в папках "todo" (задания), "started" (начатые)
                и "done" (разобранные). Когда в предложении для каждого
                токена осталось по одному варианту разбора, его можно
                переносить из папки с текущими заданиями
                "started" в папку с выполненными заданиями "done".
            </p>
            <p>
                Этот проект - просто веб-интерфейс к описанной выше схеме работы.
            </p>

            <h3>Особенности</h3>
            <ul>
                <li>
                    Предложения для разметки выбираются случайным образом
                    из OpenCorpora.
                </li>
                <li>
                    Максимально упрощенный формат данных - работа идет
                    с текстовыми файлами, базы данных не используются.
                </li>
                <li>
                    В случаях, когда возможностей веб-интерфейса недостаточно,
                    можно что-то подправить с помощью текстового редактора.
                </li>
                <li>
                    Работа в режиме реального времени - все изменения сразу
                    же сохраняются на диск.
                </li>
                <li>
                    При разборе программа показывает подсказки - подходящие
                    по контексту ссылки на викисловарь и инструкции
                    от OpenCorpora.
                </li>
                <li>
                    Можно снимать неоднозначность частично: выбирать
                    не только правильные разборы целиком, но и правильные
                    граммемы по-отдельности. В этом случае неподходящие
                    варианты автоматически отфильтровываются.
                </li>
                <li>
                    Реализация: Python 3 + Flask + pymorphy2 + Bootstrap.
                </li>
            </ul>

            <h3>TODO / ограничения</h3>
            <ul>
                <li>Авторизации и т.д. нет.</li>
                <li>
                    Модерации, соответственно, тоже нет.
                    Для краудсорсинга пока не очень подходит.
                </li>
                <li>
                    Никаких проверок при ручном редактировании тегов нет.
                </li>
                <li>
                    Я не проверял, что будет, если одновременно начатых
                    заданий будет много. Возможно, будет тормозить.
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}

{#{% block footer %}{% endblock %}#}
