{% extends "base.jinja2" %}

{% block title %}Предложения{% endblock %}

{% block js %}
    <script type="application/javascript">
        "use strict";
        $(document).ready(function(){
        });
    </script>
{% endblock %}

{% block contents %}
<div class="container">
    {% for sent in sents %}
        <p>
            <b>{{ sent["name"] }}</b>
            {% for token in sent["tokens"] %}
                {{ token.token }}
            {% endfor %}
        </p>
    {% endfor %}
</div>
{% endblock %}
